<template>
  <div class="container-button">
    <form class="form">
      <label class="label-input">
        <img class="icon" :src="icon" />
        <div class="input-container">
          <span class="placeholder" :class="{ 'active': inputText }">{{ placeholder }}</span>
          <input
            ref="inputField"
            :type="type"
            v-model="inputText"
            @input="updateInputText"
            @focus="inputFocused"
            @blur="inputBlurred"
            class="input-text"
          />
        </div>
      </label>
    </form>
  </div>
</template>

<script>
import '../assets/main.css';
import Inputmask from 'inputmask';

export default {
  data() {
    return {
      inputType: this.type,
      inputText: ''
    };
  },
  props: {
    placeholder: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: false
    },
    type: {
      type: String,
      required: true
    },
  },
  mounted() {
    if (this.type === 'tel') {
      const inputMask = new Inputmask('(99) 99999-9999');
      inputMask.mask(this.$refs.inputField);
    }
  },
  methods: {
    updateInputText() {
      this.$emit('input', this.inputText);
    },
    inputFocused() {
      if (!this.inputText) {
        this.inputText = '';
      }
    },
    inputBlurred() {
      if (!this.inputText) {
        this.inputText = '';
      }
    }
  }
};
</script>

<style>
.label-input {
  position: relative;
  display: inline-block;
}

.input-container {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 8px;
  left: 12px;
  transition: all 0.2s ease;
  pointer-events: none;
  font-size: 14px;
  color: #999999;
}

.placeholder.active {
  top: -12px;
  font-size: 12px;
  color: #555555;
}

.input-text {
  padding: 10px 15px 15px 15px;
  padding-top: 24px; 
  width: 100%; 
  box-sizing: border-box; 
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {
  .placeholder {
    position: absolute;
    top: 8px;
    left: 12px;
    transition: all 0.2s ease;
    pointer-events: none;
    font-size: 20px;
    color: #999999;
  }

  .placeholder.active {
    top: -12px;
    font-size: 15px;
    color: #555555;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  .placeholder {
    position: absolute;
    top: 8px;
    left: 12px;
    transition: all 0.2s ease;
    pointer-events: none;
    font-size: 20px;
    color: #999999;
  }

  .placeholder.active {
    top: -12px;
    font-size: 17px;
    color: #555555;
  }
}
</style>
