

:root {
    --cinza-padrao: #ecf0f1;
    --verde-padrao: #58AF9B;
    --roxo: #A41247;
    --degrade: #4C5150;
    --cinza-escuro: #7f8c8d;
    --cinza-claro: #fff;
    --vermelho: rgb(188, 41, 41);
    --azul:#00BFFF ;
    --azul-escuro:#002632;
    --azul-medio: #007299;
    --preto :#000000;
}

.label-input {
    background-color: var(--cinza-padrao);
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 250px;
}

.label-select {
    font-size: 20px;
    height: 65px;
    padding: 2%;
    padding-left: 50px;
    border: none;
    width: 100%;
}

.label-category {
    font-size: 20px;
    height: 80px;
    padding: 2%;
    padding-left: 50px;
    border: none;
    margin-left: 21%;
    width: 60%;

}

.icon-container {
    position: absolute;
    transform: translateX(3000%);
    cursor: pointer;
}

.icon {
    width: 50px;
}
.content {
    background-color: var(--cinza-claro);
    height: 100%;
    width: 100%;
}

.content::before {
    content: "";
    position: absolute;
    background-color: var(--azul);
    width: 40%;
    height: 100%;
}

.first-content {
    display: flex;
}

.first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    z-index: 10;
    padding-top: 5%;
}

.second-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-top: 5%;
    background-color: var(--azul-medio);
}

.form {
    
    display: flex;
    flex-direction: column;
}

.form input {
    height: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: var(--cinza-padrao);
}
.form input[type="date" i]{
    padding-left: 10px;
}

/* CSS - LOGO */
.logo {
    margin-top:center;
    margin-left:center;
    width: 35%;
    height: 35%;
}

h1.cadastrar {
    color: var(--preto);
    font-size: 50px;
    margin-top: -5%;
}

h2.cadastrar{
    color: var(--azul-escuro);
    font-size: 20px;
}

h3.cadastrar{
    color: var(--azul-escuro);
    font-size: 20px;
    padding-top: center;
    
}
h3.cadastrar-checkbox{
    padding-left: 3%;
}
.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.checkbox-label input {
    display: none;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.custom-checkbox:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.checkbox-label input:checked + .custom-checkbox:before {
    opacity: 1;
}

.checkbox-label input:focus + .custom-checkbox {
    outline: 2px solid blue;
}

.mandatory-fields {
    font-size: 85%;
    margin-top: 5px;
    color: hsl(0, 0%, 9%);
    padding-top: 2%;
    text-align: center;
}


.input-date {
    padding: 1%;
    border: 1px solid #ccc;
    background-color: var(--cinza-padrao);
    box-sizing: border-box;
    display: block;
}
.error {
    border: 1px solid red;
}