
@import './base.css';
@import './text.css';
@import './cadastro/cadastro.css';

html,
body {
    height: 100%;
}

:root {
    --cinza-padrao: #ecf0f1;
    --verde-padrao: #58AF9B;
    --roxo: #A41247;
    --degrade: #4C5150;
    --cinza-escuro: #7f8c8d;
    --cinza-claro: #fff;
    --vermelho: rgb(188, 41, 41);
    --azul:#00BFFF ;
    --azul-escuro:#002632;
    --azul-medio: #007299;
    --preto :#000000;
}

