.title {
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: var(--cinza-claro);
}

.title-second {
    color: var(--verde-padrao);
}

.description {
    font-size: 25px;
    font-weight: 300px;
    line-height: 30px;
    margin: 5%;
}

.description-primary {
    color: var(--cinza-claro);
}

.description-second {
    color: var(--cinza-escuro);
}

.monthly-text {
    color: black;
    font-size: 20px;
    padding: 1% 1% 0% 1%;
}