@import '../base.css';
@import '../text.css';

html,
body {
    height: 100%;
}


.upper-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--verde-padrao);
}

.upper-column-left {
    flex: 1;
    text-align: center;
}

.upper-column-right {
    flex: 1;
    text-align: center;
}

.lower-column.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-tabela{
    margin-left: 5%;
    max-width: 20%;
}

.nome-completo {
    text-align: right;
    margin-right: 10%;
    font-size: 150%;
}
.table-row {
    border-bottom: 2px solid;
    border-color: #000000;
}
.thead-tabela{
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
}

.table-row:last-child td {
    border-bottom: none;
}

thead th {
    background-color: #7495d3 ;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
