
<template>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <img class="logo" src="../components/icons/logo.svg">
            </div>
            <div class="second-column">
                <h1 class="cadastrar">TESTE</h1>
                <h2 class="cadastrar">EGS SISTEMAS</h2>
                <form class="form" @submit.prevent="handleSubmit">



                    <h3 class="cadastrar">*NOME:</h3>
                    <input-component class="cadastrar" id="nome" type="text" placeholder="Escreva seu nome" :value="nome"
                        @input="nome = $event.target.value" ref="nomeInput"
                        onclick="document.getElementById('nome').classList.remove('error')"/>



                    <h3 class="cadastrar">*SOBRENOME:</h3>
                    <input-component id="sobrenome" type="text" placeholder="Escreva seu sobrenome" :value="sobrenome"
                        @input="sobrenome = $event.target.value" ref="sobrenomeInput"
                        onclick="document.getElementById('sobrenome').classList.remove('error')"/>

                    <h3 class="cadastrar">*DATA NASCIMENTO:</h3>
                    <input-component id="idade" class="cadastrar input-date" type="date" :value="idade" @input="idade = $event.target.value"
                        ref="idadeInput" onclick="document.getElementById('idade').classList.remove('error')"/>

                    <h3 class="cadastrar">*E-MAIL:</h3>
                    <input-component id="email" type="text" placeholder="E-mail" :value="email" @input="email = $event.target.value"
                        ref="emailInput" onclick="document.getElementById('email').classList.remove('error')"/>

                    <h3 class="cadastrar">*CPF:</h3>
                    <input-component id="cpf" type="text" placeholder="CPF" :value="cpf" @input="cpf = $event.target.value"
                        ref="cpfInput" onclick="document.getElementById('cpf').classList.remove('error')"/>

                    <p class="mandatory-fields">Todos os campos com * são obrigatórios</p>

                    <label class="checkbox-label">
                        <input type="checkbox" v-model="checked" />
                        <span class="custom-checkbox"></span>
                        <h3 class="cadastrar-checkbox">Aceito os termos e condições</h3>
                    </label>

                    <ButtonCadastroCreate class="btn btn-second" text="ENVIAR" @click.prevent="cadastro" type="submit" />

                </form>
            </div>
        </div>
    </div>
</template>

<script>
import '../assets/main.css';
import InputComponent from '../components/InputComponent.vue';
import ButtonCadastroCreate from '../components/ButtonCadastroCreate.vue';
import TitleText from '../components/TitleText.vue';
import axios from 'axios';
import Swal from 'sweetalert2';

export default {
    components: {
        InputComponent,
        ButtonCadastroCreate,
        TitleText,
    },
    data() {
        return {
            allTrue: true,
            nome: '',
            sobrenome: '',
            idade: '',
            email: '',
            cpf: '',
            checked: false,
            isValidEmail: true,
            isValidCpf: true,
            textoErro: ""
        };
    },
    methods: {
        cadastro() {
            if (this.validateFields()) {
                if (this.validateEmail() && this.validateCpf()) {
                    console.log('Cadastrar');
                    let body = { "nome": this.nome, "sobrenome": this.sobrenome, "idade": this.idade, "email": this.email, "cpf": this.cpf };
                    console.log(body)
                    axios.post(`http://localhost:3000/users/cadastro`, body)
                        .then(response => {
                            console.log(response);
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Cadastro Concluido!',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            setTimeout(() => {
                                this.navigateTo("tabela");
                            }, 4000);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            }
        },

        navigateTo(page) {
            this.$router.push(`/${page}`);
        },
        handleSubmit(event) {
            this.cadastrar();
        },
        validateFields() {
            if (this.nome.trim() === '') {
                this.$refs.nomeInput.$el.classList.add('error');
                this.allTrue = false;
            }
            if (this.sobrenome.trim() === '') {
                this.$refs.sobrenomeInput.$el.classList.add('error');
                this.allTrue = false;
            }
            if (this.idade.trim() === '') {
                console.log("entrou");
                this.$refs.idadeInput.$el.classList.add('error');
                this.allTrue = false;
            }
            if (this.email.trim() === '') {
                this.$refs.emailInput.$el.classList.add('error');
                this.allTrue = false;
            }
            if (this.cpf.trim() === '') {
                this.$refs.cpfInput.$el.classList.add('error');
                this.allTrue = false;
            }
            if (!this.checked) {
                this.allTrue = false;
            }
            if (this.allTrue) {
                return true;
            }
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Por favor preencha todos os campos faltantes do formulario e aceite os termos e condições.'
            })
            this.allTrue = true;
            return false;

        },
        validateEmail() {
            const emailRegex = /^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;
            const ValidEmail = emailRegex.test(this.email);

            if (!ValidEmail) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'E-mail deve estar no formato "nome_usuario@dominio.com"'
                })
                return false;
            }
            return true;
        },
        validateCpf() {
            const cpfRegex = /^\d{11}$/;
            const ValidCpf = cpfRegex.test(this.cpf);

            if (!ValidCpf) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'CPF deve possuir 11 digitos.'
                })
                return false;
            }
            return true;
        },
    },
};
</script>
