
<template>
    <div>
        <div>
            <div class="upper-column">
                <a href="..">
                    <img src="../components/icons/logo.svg" class="logo-tabela" alt="logo">
                </a>
                <div class="nome-completo">{{ nomeCompleto }}</div>
            </div>
            <div class="lower-column centered">
                <div>
                    <table>
                        <thead class="thead-tabela">
                            <tr>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>Data de Nascimento</th>
                                <th>Email</th>
                                <th>CPF</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in items" :key="item.id" class="table-row">
                                <td class="centered">{{ item.nome_user }}</td>
                                <td class="centered">{{ item.sobrenome_user }}</td>
                                <td class="centered">{{ formatarData(item.birth_date_user) }}</td>
                                <td class="centered">{{ item.email_user }}</td>
                                <td class="centered">{{ item.cpf_user }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import '../assets/tabela/tabela.css';
import axios from 'axios';

export default {
    components: {
    },
    data() {
        return {
            receberdadosError: false,
            items: [],
            isFirstRow: true
        }
    },
    mounted() {
        this.receberDados();
    },
    computed: {
        nomeCompleto() {
            const ultimoItem = this.items.length > 0 ? this.items[this.items.length - 1] : null;
            return ultimoItem ? `${ultimoItem.nome_user} ${ultimoItem.sobrenome_user}` : '';
        },
    },
    methods: {
        receberDados() {
            axios.get(`http://localhost:3000/users/usuarios`)
                .then(response => {

                    console.log("response");
                    console.log(response);
                    this.items = response.data.data;
                    console.log("itens");
                    console.log(this.items[0]);
                })
                .catch(error => {
                    this.receberdadosError = true;
                    console.log(error);
                    setTimeout(() => {
                        this.receberdadosError = false;
                    }, 5000);
                });
        },
        navigateTo(page) {
            this.$router.push(`/${page}`)
        },
        mostrarTitulos(column) {
            if (this.isFirstRow) {
                console.log(column);
                if (column === 'cpf') {
                    this.isFirstRow = false;
                }
                return true;
            }
            return false;
        },
        formatarData(dataString) {
            const data = new Date(dataString);
            const dia = data.getDate();
            const mes = data.getMonth() + 1;
            const ano = data.getFullYear();

            const diaFormatado = dia < 10 ? `0${dia}` : dia;
            const mesFormatado = mes < 10 ? `0${mes}` : mes;

            return `${diaFormatado}/${mesFormatado}/${ano}`;
        },
    }
}
</script>
